@inject IConfiguration config
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Class 1083</h1>
    <p>@config["AppConfig:General:AppName"]</p>
    <p>@config["AppConfig:General:Version"]</p>
    <p>@config["AppConfig:General:Pwd"]</p>
</div>
